/*
下面三行分别引入tailwind的基础样式 组件样式 工具样式  
*/
@tailwind base; 
@tailwind components;
@tailwind utilities;

/* 封装抽象部分样式 */
@layer components {
  .btn-primary {
    @apply text-base p-1 border border-black border-solid hover:text-[30px];
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
